/*======================================
    import
======================================*/
@font-face {
    font-family: 'open_dyslexic';
    src: local('open_dyslexic'), url(./font/open_dyslexic/OpenDyslexic-Regular.otf);
}

/*======================================
    variables
======================================*/
$font_family1: 'open_dyslexic';
$font_family2: 'helvetica';
$color1: white;
$color2: black;
$color3: rgba(0, 0, 0, 0.466);
$size1: 15px;
$size2: 20px;
$size3: 30px;
$size4: 40px;
$size5: 60px;
$size6: 100px;