/*======================================
    import
======================================*/
@font-face {
    font-family: 'open_dyslexic';
    src: local('open_dyslexic'), url(../font/open_dyslexic/OpenDyslexic-Regular.otf);
}

/*======================================
    variables
======================================*/
$font_family1: 'open_dyslexic';
$font_family2: 'helvetica';
$color1: white;
$color3: rgba(255, 255, 255, 0.457);
$color: #020024;
$color4: linear-gradient(145deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
$size: 10px;
$size1: 15px;
$size2: 20px;
$size3: 30px;
$size4: 40px;