// import les variables
@use 'variables';

/*======================================================
  body
======================================================*/
body {
  width: 100%;
  height: 100vh;

  header {
    position: absolute;
    top: 10px;
    left: 10px;

    a {
      color: variables.$color1;
    }
  }

  main {
    width: 100%;
    height: 100%;
    background-color: variables.$color2;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: variables.$size5;
    box-sizing: border-box;

    .contact-formulaire {
      width: 400px;
      height: 400px;
      box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
      border-radius: 20px;
    }
  }

  footer {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    color: variables.$color1;
    padding: variables.$size2;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    .blocs {
      width: 100%;
      height: 100%;

      h2 {
        font-weight: bolder;
        font-family: variables.$font_family1;
      }
    }

    .left {
      text-align: end;
    }
  }
}